@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
header {
    width: 100%;
    height: 20lvh;
    background-color: #c2c2c2;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-top: 15lvh;
}
li {
    list-style: none;
    padding: 10px 20px;
    display: inline-block;  
}
a {
    text-decoration: none;
    color: white;
    text-shadow: 1x 1px 2px black;
    font-size: 1.2rem;
}
a:hover {
    color: #007bff;
    font-style: italic;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}