@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
header {
    width: 100%;
    height: 60px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 3rem;
    margin-left: 10%;
    padding: 10px;
}
.imputBox {
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}
input {
    width: 80%;
    height: 70%;
    border: none;
    outline: none;
}
button {
    width: 40%;
    padding: 10px;
    margin-left: 30%;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}